*{
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
    position: relative;
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

body{
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
}


.topbar{
  display: none;
  position: fixed;
  top:0;
  left:0;
  margin-bottom: -2vh;
  color:white;
  font-family: 'Work Sans', sans-serif;
  font-size: 4vh;
  text-align: center;
  box-shadow:inset 0px 0px 2vh 0.3vh #607596;
  background:linear-gradient(to right, #e4e4e4 2%, #757575 70%);
  background-color:#faf4be;
  border-radius:50vh;
  padding:1.2vh 1.2vh;
  text-decoration:none;
}
.topbar:hover {
  background:linear-gradient(to bottom, #7ee6e6 5%, #fabefa 100%);
  background-color:#7ee6e6;
}


ul.episodes {
  order:1;
  flex-basis:8vw;
  flex:1;
  height: 100vh;
  list-style-type: none;
}
ul.episodes >li{
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
  font-size: 2vw;
  height:33.333vh;
}
ul.episodes >li:hover{
  font-style: italic;
  cursor:pointer;
}



.content{
  order:2;
  flex-basis:92vw;
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
}

ul#menu {
  width: 100%;
  list-style-type: none;
  order:1;
  flex-basis:5vh;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}
ul#menu > li{
  height:100%;
  padding:1vw;
}
ul#menu >li:hover {
  font-style: italic;
  background-color: black;
  color: white;
  cursor: pointer;
}
ul#menu >.title{

  font-size: 2vw;
  float: left;
}
ul#menu >.external{
  font-size: 2vw;
  float: right;
}

.mainbox{
  order: 2;
  flex-basis:95vh;
  overflow: scroll;
  width: 100%;
  font-size: 2vh;
}
#mainvideo iframe{
  padding-top:-20vh;
  display:block;
  height:100vh;
  width:100%;
}
#mainphotos img{
  display:block;
  width:100%;
}


@media only screen and (max-width: 800px) {
  .maintextbox{
    height: 100vh;
    width: 72%;
  }
  .maintextbox div:last-of-type{
    margin-bottom:30vh;
  }
  nav{
    z-index:998;
    display: none;
    position:fixed;
    padding-top:5vh;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 60%, rgba(254,254,254,0) 100%);
    left:0;
    width:40%;
    height:100vh;
  }
  .informationbox {
    height: 100vh;
    overflow-y: scroll;
    margin-right: 0.5vh;
    margin-left:0.5vh;
    width: 28%;
    overflow-x: hidden;
    line-height: 80%;
  }
  .informationbox::-webkit-scrollbar {
    width: 0 !important
  }

  .topbar{
    display:inline-block;
    z-index:999;
  }

}
