*{
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
    position: relative;
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

body{
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    background-color: #439143;
}

a{
  text-decoration: none;
  color:black;
}
#mobilebutton{
  display:none;
}

ul.episodes {
  order:1;
  flex-basis:8vw;
  flex:1;
  list-style-type: none;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
ul.episodes >li{
  background-color: white;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
  font-size: 4vh;
  padding-top:10vh;
}
ul.episodes >li:hover{
  font-style: italic;
  cursor:pointer;
}



.content{
  order:2;
  flex-basis:92vw;
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
}

ul#menu {
  width: 100%;
  list-style-type: none;
  order:1;
  flex-basis:5vh;
  background-color: white;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}
ul#menu > li{
  height:100%;
  padding:1vw;
  font-size: 4vh;
}
ul#menu >li:hover {
  font-style: italic;
  background-color: black;
  color: white;
  cursor: pointer;
}
ul#menu >.title{
  float: left;
}
ul#menu >.external{
  float: right;
}
ul#submenu {
  position: fixed;
  z-index: 999;
  text-align: center;
  /* width: 90%; */
  list-style-type: none;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
ul#submenu > li{
  background-color: white;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
  text-align: center;
  padding:1vw;
  font-size: 4vh;
}
ul#submenu >li:hover {
  font-style: italic;
  background-color: black;
  color: white;
  cursor: pointer;
}

.mainbox{
  order: 2;
  flex-basis:95vh;
  overflow: scroll;
  width: 100%;
}

#mainabout img{
  display: block;
  width: 100%;
  margin-bottom: -10vh;
}
#mainabout > #abouttx{
  font-size:4vh;
  font-family: 'Libre Baskerville', serif;
  padding-left:5vw;
  padding-right:5vw;
}
#mainabout > #abouttx > #italic{
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
}
#mainabout > #aboutus{
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  font-size:2vh;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  padding-left:5vw;
  padding-right:5vw;
  padding-top:2vw;
  padding-bottom:5vw;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}
#mainabout iframe{
  display:block;
}

#maintext img{
  display: block;
  width: 95%;
  padding-left: 4vw;
  margin-bottom: -10vh;
}
#maintext > #poem{
  font-size:3vh;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  padding-left:5vw;
  padding-right:5vw;
}
#maintext > #credit{
  font-size:4vh;
  font-family: 'Libre Baskerville', serif;
  padding-left:5vw;
}

#mainvideo iframe{
  padding-top:-20vh;
  display:block;
  height:100vh;
  width:100%;
}
#photosworks iframe{
  padding-top:-20vh;
  display:block;
  height:100vh;
  width:100%;
}

#mainphotos img{
  display:block;
  width:100%;
}
.imggrid {
  height: 100%;
  display: grid;
  grid-template-columns: 0.8fr 1.2fr 1fr;
  grid-template-rows: 1fr 0.8fr 1.6fr 1fr 0.8fr 0.5fr 1fr 1.4fr 0.8fr 1.1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "img1 img2 img3" "img4 img5 img6" "img7 gif img6" "img7 img10 img8" "img9 img11 img12" "img13 img11 img15" "img16 img14 img15" "img16 img17 img18" "img19 img20 img21" "img22 img23 img21" "img24 img25 .";
}

.gif { grid-area: gif; }

.img1 { grid-area: img1; margin-top: 40%;
}

.img2 { grid-area: img2; margin-top: 50%;}

.img3 { grid-area: img3; }

.img4 { grid-area: img4; margin-top: 30%;}

.img5 { grid-area: img5; }

.img10 { grid-area: img10; }

.img7 { grid-area: img7;margin-top: 60%; }

.img6 { grid-area: img6; }

.img8 { grid-area: img8; }

.img9 { grid-area: img9; }

.img12 { grid-area: img12; margin-top: 50%;}

.img13 { grid-area: img13; }

.img11 { grid-area: img11; }

.img14 { grid-area: img14; }

.img15 { grid-area: img15; }

.img16 { grid-area: img16; }

.img17 { grid-area: img17; margin-top: 50%;}

.img18 { grid-area: img18; }

.img19 { grid-area: img19; margin-top: 30%;}

.img20 { grid-area: img20; margin-top: 40%;}

.img21 { grid-area: img21; }

.img22 { grid-area: img22; }

.img23 { grid-area: img23; }

.img24 { grid-area: img24; }

.img25 { grid-area: img25; }

/* For presentation only, no need to copy the code below */
.imggrid * {
 /* border: 1px solid red; */
 position: relative;
}

/* .imggrid *:after {
 content:attr(class);
 position: absolute;
 top: 0;
 left: 0;
} */
#caption{
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  font-size: 4vh;
  background-color: white;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}
#caption: hover{
  font-style: italic;
}

@media only screen and (max-width: 800px) {
  #mobilebutton{
    display:inline-block;
    position: fixed;
    right:0;
    z-index: 99;
    top:5vh;
    font-size: 2vh;
    background-color: white;
    border-radius:10%;
    padding:1vh;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
  }
  ul.episodes {
    display: none;
    order:1;
    flex-basis:8vw;
    flex:1;
    list-style-type: none;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
  }
  ul.episodes >li{
    font-size: 2vh;
    -moz-box-shadow:    inset 0 0 0px #000000;
    -webkit-box-shadow: inset 0 0 0px #000000;
    box-shadow:         inset 0 0 0px #000000;
    padding-top:10vh;
  }
  .content{
    order:2;
    flex-basis:90vh;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
  }
  ul#menu >li{
    height:100%;
    font-size: 2vh;
  }
  ul#submenu >li{
    height:100%;
    font-size: 2vh;
  }
  #mainabout > #aboutus{
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  #mainabout img{
    margin-bottom: 0;
  }
  #maintext img{
    margin-bottom: 0;
  }
  #caption {
    font-size: 2vh;
  }
}
