/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/



@import url("https://use.typekit.net/xdz4eqa.css");

@font-face {
  font-family: 'CalvinAndHobbesNormal';
  src: url('morning/CalvinAndHobbesNormal.otf') format("otf");
}

::-webkit-scrollbar {
    display: none;
}
* {
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden
}
body {
  width: 100%;
  overflow-x: hidden;
  background-repeat: repeat;
  background-image: url("morning/bgg.jpg");
}


.bg-page {
  overflow-x: hidden;
  width:100%;
  position: absolute;
  left:0;
  top: 100vh;
  height: 100%;

}

.target:hover {
  cursor: pointer;
}

.cls-1, .cls-2, .cls-3 {
  font-family: "CalvinAndHobbesNormal" !important;
}
text,tspan {
  font-family: "CalvinAndHobbesNormal" !important;
}

.cls-2:hover,.cls-3:hover  {
  /* fill: blue !important; */
  cursor: pointer;


}
.cls-1:hover {
  fill: blue !important;
  cursor: pointer;
}

.a732da37-3123-4d17-adec-3368060ad485:hover {
  fill: red !important;
  cursor: pointer;
}
.name-credit {
  /* fill: red !important; */
  cursor: pointer;
}
.ff8ca6f5-4f11-4d6a-8749-b593fc630b40:hover {
  /* fill: red !important; */
  cursor: pointer;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
}
.nav img {
  padding-top: 4vh;
  padding-bottom: 4vh;
  width: 100%;
  height:100%;
}

.floating-button {
  cursor: pointer;
  position: absolute;
  width: 12%;
  top: 26vw;
  z-index: 10;
}
.floating-button img {
  max-width: 200px;
  /* width: auto; */
}
.floating-button:nth-child(3) {
  left:10px;

}
.floating-button:nth-child(2) {
  right:10px;

}

section.graphic-one {
  position: relative;
  width: 100vw;
  height: 100%;

  /* height: 150vh; */

}
.fence, .fence-mobile {

  position: absolute;
  top: -20px;
  left: 0;
  overflow-x: hidden;
  width: 100%;

}

.fence img, .fence-mobile img {
  /* margin-left: -100px; */
  width:100%;
}

.fence-mobile {
  display: none;
}
.fence {
  display: block;
}

@media screen and (max-width: 600px) {
  .nav {

  }
  .nav img {
    padding-top: 6vh;
    padding-bottom: 10vh;
  }

  .fence-mobile {
    display: block;
  }
  .fence {
    display: none;
  }

  .floating-button {
    cursor: pointer;
    position: absolute;
    width: 35%;
    top: 22vh;
    z-index: 10;
  }
  .floating-button:nth-child(3) {
    left:12vw;
    /* margin: 0 auto; */

  }
  .floating-button:nth-child(2) {
    right:12vw;
    /* margin: 0 auto; */

  }


}





.credits {
  padding: 100px 0 100px 0;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flexbox;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: center;
}



.credit-group {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.credit-group svg {
 width: 100%;
 height: 100%;
}
.credit-group img {
  width: 90%;
}
.credit-group-1 {
  margin-right: 40px;
  width: 38%;
}
.credit-group-2 {
  width: 52%;
}
.credit-group-3 {
  width: 10%;
  margin-left: 50px;
  align-self: flex-end;
  margin-bottom: 20px;
}

@media (max-width: 750px) {
  .credit-group-1 {
    margin-right: 10px;
    width:45%;
  }
  .credit-group-2 {
    width: 55%;

  }
  .credit-group-3 {
    width: 10%;
    margin-left: 20px;
    align-self: flex-end;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {

  .credits {
    padding: 180px 0 200px 0;
    flex-direction: column;

  }
  .credit-group-1 {
    padding-top: 40px;
    order: 2;
    margin-right: 0;
    width: 96%;
  }
  .credit-group-2 {
    order: 1;
    /* margin-right: 0; */
    width: 98%
  }
  .credit-group-3 {
    display: none;
  }
}
@media (max-width: 440px) {
  .credits {
    padding: 180px 0 80px 0;
  }
}

/* TEXT SECTION */

section.text-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg-text {
  width: 80%;
  padding: 0 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flexbox;
  /* justify-content: center; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bg-text img {
  width: 100%
}
.bg-text .text {
  width: 99.5%;
  background-color: #414042;
  height: 450px;
  overflow-y: scroll;
}
.bg-text .text p{
  padding: 0 20%;
  color: white;
  font-family: acumin-pro-extra-condensed, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2em;
  text-align:center;

}

@media (max-width: 600px) {
  .bg-text {
    width: 90%;
    height: 450px;
    padding-bottom: 100px;
  }
  .bg-text .text p{
    padding: 0 5%;
    color: white;
    font-family: acumin-pro-extra-condensed, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.2em;
    text-align:center;

  }

}

g#Plague:hover path,
g#Dharma:hover path {
  fill: red !important;
  cursor: pointer;
}

g#Plague:hover, g#Dharma:hover {
  cursor: pointer;
}




section.video-section{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10vh;
}
#mainvideo iframe{
  display:block;
  height:auto;
  width:80vw;
  height:80vh;
}


@media (max-width: 600px) {
  #mainvideo iframe{
    width:90vw;
  }


}


.image-section img{
  display:block;
  width:100%;
}

.imggrid {

  margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 0.5fr 0.5fr 1fr 0.5fr 0.5fr 0.5fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr 1.5fr;
  gap: 1%;
  grid-template-areas:
    "v1 v2"
    "v3 v4"
    "h1 h1"
    "h2 h2"
    "v5 v6"
    "h3 h3"
    "h4 h4"
    "h5 h5"
    "v7 v8"
    "h6 h6"
    "h7 h7"
    "h8 h8"
    "h9 h9"
    "h10 h10";
}
.imggrid * {
  /* border: 1px solid red; */
  position: relative;
}

@media (max-width: 600px) {
  .imggrid {
    gap: 0%;
    margin-left: 2%;
    margin-right: 2%;
    grid-template-rows: 1fr 1fr 0.5fr 0.5fr 1fr 0.5fr 0.5fr 0.5fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr;
  }
}
/* .imggrid *:after {
 content:attr(class);
 position: absolute;
 top: 0;
 left: 0;
} */
.v1 { grid-area: v1; }
.v2 { grid-area: v2; }
.v3 { grid-area: v3; }
.v4 { grid-area: v4; }
.h1 { grid-area: h1; }
.h2 { grid-area: h2; }
.v5 { grid-area: v5; }
.v6 { grid-area: v6; }
.h3 { grid-area: h3; }
.h4 { grid-area: h4; }
.h5 { grid-area: h5; }
.v7 { grid-area: v7; }
.v8 { grid-area: v8; }
.h6 { grid-area: h6; }
.h7 { grid-area: h7; }
.h8 { grid-area: h8; }
.h9 { grid-area: h9; }
.h10 { grid-area: h10; }

#caption{
  background-color: #414042;
  color: white;
  font-family: acumin-pro-extra-condensed, sans-serif;
  text-align: center;
  font-size: 2vw;
}
#caption: hover{
  font-style: italic;
}

.footnote {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-end;
}
.footnote-elem {
  margin: 5px;
  width: 50%;
}

@media (max-width: 600px) {
  .footnote {

    flex-direction: column;
    align-items: center;
  }
  .footnote-elem {
    margin: 5px;
    width: 98%;
  }
}
