@font-face {
  font-family: 'CalvinAndHobbesNormal';
  src: url('morning/CalvinAndHobbesNormal.otf') format("otf");
}
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  overflow-x: hidden;
  background-repeat: repeat;
  background-image: url("morning/bgg.jpg");
}


.bg-page {
  width:100%;
  position: absolute;
  left:0;
  top: 100vh;
  height: 100%;

}

.cls-1, .cls-2, .cls-3 {
  font-family: "CalvinAndHobbesNormal" !important;
}
text,tspan {
  font-family: "CalvinAndHobbesNormal" !important;
}

.cls-2:hover,.cls-3:hover  {
  /* fill: blue !important; */
  cursor: pointer;


}
.cls-1:hover {
  fill: blue !important;
  cursor: pointer;
}

.nav {
  width: 100%;
  background-color: white;
}

section.graphic-one {
  position: relative;
  width: 100vw;
  height: 100%;

  /* height: 150vh; */

}
.fence {
  position: absolute;
  top:0;
  overflow-x: hidden;
  width: 100%;

}

.fence img {
  /* margin-left: -100px; */
  width:100%;
}



.credits {
  padding-top: 100px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.credit-group {
  height: 100%;
  display: flex;
}
.credit-group svg {
 width: 90%;
}
.credit-group img {
  width: 90%;
}
.credit-group-1 {
  width: 35%;
}
.credit-group-2 {
  width: 45%;
}
.credit-group-3 {
  width: 10%;
}

/* TEXT SECTION */

section.text-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bg-text {
  width: 80%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}
.bg-text img {
  width: 100%
}
.bg-text .text {
  width: 99.5%;
  background-color: #414042;
}




.image-section img{
  display:block;
  width:100%;
}
.imggrid {
  margin-left: 6%;
  margin-right: 6%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0%;
  grid-template-areas:
    "v1 v2"
    "v3 v4"
    "h1 h1"
    "h2 h2"
    "v5 v6"
    "h3 h3"
    "h4 h4"
    "h5 h5"
    "v7 v8"
    "h6 h6"
    "h7 h7"
    "h8 h8"
    "h9 h9"
    "h10 h10";
}
.imggrid * {
  border: 1px solid red;
  position: relative;
}
.imggrid *:after {
 content:attr(class);
 position: absolute;
 top: 0;
 left: 0;
}
.v1 { grid-area: v1; }
.v2 { grid-area: v2; }
.v3 { grid-area: v3; }
.v4 { grid-area: v4; }
.h1 { grid-area: h1; }
.h2 { grid-area: h2; }
.v5 { grid-area: v5; }
.v6 { grid-area: v6; }
.h3 { grid-area: h3; }
.h4 { grid-area: h4; }
.h5 { grid-area: h5; }
.v7 { grid-area: v7; }
.v8 { grid-area: v8; }
.h6 { grid-area: h6; }
.h7 { grid-area: h7; }
.h8 { grid-area: h8; }
.h9 { grid-area: h9; }
.h10 { grid-area: h10; }
