@font-face {
  font-family: "OPTIAuroraGroteskNine";
  src: url(OPTIAuroraGroteskNine.otf);
}
/* SVG */
.st0{fill:none;}
.st1{font-family:'OPTIAuroraGroteskNine';
      fill: black;
      }
.st2{font-size:42px;}
.st3{letter-spacing:-4;}
.st4{letter-spacing:22;}
.st5{letter-spacing:-6;}
.st6{letter-spacing:175;}
.st7{letter-spacing:20;}



* {
  margin: 0;
  padding: 0;
}

ul {
  list-style:none;
}
/* NAVIGATION */

body {
  min-width: 100%;

}
nav {
  min-width: 700px;
  max-width: 900px;
  width: 60%;
  z-index: 1;
  position: fixed;
  top: 15vh;
  right:-18vw;
  mix-blend-mode: color-burn;
}
@media only screen and (max-width: 800px) {
  nav {
    right:-40vw;
    min-width: 500px;
  }
  nav ul li:nth-child(4) {
    margin-bottom: 0 !important;
  }
}
nav svg text {
  transition: transform 1s;
  /* mix-blend-mode: color-burn;
  opacity: .8; */
}
nav ul li {
  /* fill: black; */
  /* mix-blend-mode: color-burn; */
  opacity: .7;
  /* width: 100%;
  height: 100%; */

  /* width: 100%; */


}


nav ul li text.transform1 {
  /* transition-delay: 1s; */
  transition: transform .01s .8s;
  /* transform: translate(47px, 40.11px) scale(8.02, 1); */
  transform: translate(119.99px, 40.11px) scale(8.02, 1);
  /* fill: white; */
}
nav ul li text.transform2 {
  transition: transform .01s .8s;
  /* transform: translate(251.42px, 40.11px)  */;
  transform: translate(324.42px, 40.11px) ;

  /* fill: white; */
}
nav ul li:hover text.transform1 {
  transform: translate(120px, 40.11px) scale(1, 1);
  /* transform: scale(1); */
  /* fill: yellow; */

}
nav ul li:hover text.transform2 {
  transform: translate(148px, 40.11px) scale(1, 1);
  /* transform: scale(1); */
  /* fill: yellow; */

}

.translate-transform1 {
  transition: transform .01s .8s;
  transform: translate(120px, 40.11px) scale(1, 1) !important;
}
.translate-transform2 {
  transition: transform .01s .8s;
  transform: translate(148px, 40.11px) scale(1, 1) !important;
}

nav ul li:nth-child(1):hover,
nav ul li:nth-child(2):hover,
nav ul li:nth-child(3):hover
 {
  /* mix-blend-mode: normal; */
  opacity: 1;
  cursor: pointer;
}

nav ul li:nth-child(2) {
  margin-top: -5px;
  z-index: 20;
}
nav ul li.highlighted {
  opacity:1;
}

nav ul li:nth-child(3) {
  z-index: 1;
  margin-top: -55px;
}
nav ul li:nth-child(4) {
  margin-top:-10px;
}
nav ul li:nth-child(5) {
  margin-top: -10px;
}
/* nav ul li:nth-child(8) {
  margin-top:-5px;
} */


/* LOGO */

.logo-inside {
  position: absolute;
  left: 0;
  top: 0;
  width: 10vw;
  min-width:150px;
}

.logo-inside img{
  width: 100%;
}


/* CONTAINER */


.name-artists {

}

.container {
  z-index: 0;
}

input {
  width: 95%;
  margin-bottom: 10px;
}

/* body {
  min-height: 120vh;
  width: auto;

} */
input {
  visibility: hidden;
}
canvas {
  /* min-height: 120%; */
  margin-top: -10vh;
  max-width: auto;
  position: absolute;
  top:0;
  left: 10vw;
  /* mix-blend-mode: color-burn; */
  /* mix-blend-mode: hue; */
  /* mix-blend-mode:  overlay; */
  /* mix-blend-mode: screen; */
  /* image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges; */
  /* image-rendering: pixelated; */
}

#mainphotos img.blend-mode {

}
#mainphotos img {
  /* mix-blend-mode: screen; */
  height: 80vh;

}
#mainphotos img.blended {
  mix-blend-mode: screen;

}

#mainphotos img.blended:hover {
  mix-blend-mode: normal !important;
  transform: scale(0.7);
}

/* #mainphotos .name-artists:hover {

  mix-blend-mode: normal;
  z-index: 30;

} */
#mainphotos .images {
  margin-right: 50vw !important;
  display: flex;
  flex-direction: row;

}
#mainphotos .images {
  min-height: 50vh;
}

/* #mainphotos #pushUp {
  margin-top: -30px !important;
} */

.name-artists {
  /* height: 9vh; */
  width: 100%;
  text-align: center;
  display: flex;
  /* flex-direction: row; */
}
.name-artists a {
  /* height: 9vh; */
  width: 100%;
  text-align: center;

}

.section-artist {
  display: flex;
  flex-direction: column;
}
.artist-images {
  display: flex;
  flex-direction: row;
}
