*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url("image/dharma-dune-BIG-file.jpg");
    background-size: cover;
}
nav::-webkit-scrollbar{
  display: none;
}

.container{
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    position:relative;
}


.bottombar>a:link, a:visited, a:active{
  text-decoration: none;
  color:white;
}
.bottombar>a:hover{
  background-color: white;
  color: black;
  cursor: pointer;
}

.bottombar {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  width:100%;
  position: fixed;
  bottom: -1vw;
  background-color: white;
  text-align: center;
  z-index: 9999;
  display: grid;
  grid-template-columns: 0.6fr 6fr 0.6fr;
}
.bottombar>img{
  width:100%;
}
audio{
  position: fixed;
  top: 5vh;
  right:0;
}

p-bottom{
  margin:10px;
  color:black;
  font-size: 0.8em;
}
p-bottom>a:link, a:visited, a:active{
  text-decoration: none;
  color:black;
}
p-bottom>a:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}


nav{
  z-index: 99;
  padding-left: 2%;
  padding-right: 5%;
  padding-top: 5%;
  position: absolute;
  overflow: scroll;
}

nav > ul.catalog {
  list-style-type: none;
}
li{
  text-decoration: underline;
  color:white;
  font-size: 3.5vh;
}
li:hover {
  text-decoration: underline;
  background-color: white;
  color: black;
  cursor: pointer;
}
#title{
  font-style: italic;
}


.content{
  position: absolute;
  width:100vw;
  height:100vh;
}
.content img{
  position: absolute;
  transform: scale(0.1);
  position: absolute;
  -moz-box-shadow: 0 0 7px #fff;
  -webkit-box-shadow: 0 0 7px #fff;
  box-shadow: 0px 0px 7px #fff;
  transition: transform .2s;
}
.content img:hover{
  transform: scale(1.5);
}



@media only screen and (max-width: 700px) {
  body{
      overflow-x: scroll;
      overflow-y:hidden;
      height:100vh;
      background-size: cover;
      background-repeat: no-repeat;
  }
  audio{
    display:none;
    position: fixed;
    top: 5vh;
    right:0;
  }
  .bottombar {
    display: block;
    font-size:0.1em;
    width:100%;
    position: fixed;
    bottom: 0;
    background-color: white;
    text-align: center;
    z-index: 9999;
  }
  .bottombar>img{
    display: none;
  }
  .container{
      display:block;
  }
  ul{
    float:left;
    font-size:1em;
    padding-left: 2%;
    padding-right: 5%;
    padding-top: 5%;
    width: 90%;
    height:100%;
  }
  #title{
    font-style: italic;
  }
  #textholder{
     margin-left:-4em;
  }
  p2{
    display:inline-block;
    margin-left:5em;
    color:black;
    font-size: 1em;
  }
  #italicpoem{
    font-style: italic;
  }

}
