*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url("image/bg.png");
    background-size: cover;
}
nav::-webkit-scrollbar{
  display: none;
}
.tunnelwhite::-webkit-scrollbar{
  display: none;
}

.container{
    z-index: 2;
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-size: cover;
}


.bottombar>a:link, a:visited, a:active{
  text-decoration: none;
  color:white;
}
.bottombar>a:hover{
  background-color: white;
  color: black;
  cursor: pointer;
}

.bottombar {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: var(--font-size-m);
  width:100%;
  position: fixed;
  bottom: 0;
  background-color: white;
  text-align: center;
  z-index: 9999;
  display: grid;
  grid-template-columns: 0.6fr 6fr 0.6fr;
}
.bottombar>img{
  width:100%;
}

p1{
  margin:10px;
  color:black;
  font-size: 0.8em;
}
p1>a:link, a:visited, a:active{
  text-decoration: none;
  color:black;
}
p1>a:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}


nav{
  padding-left: 2%;
  padding-right: 5%;
  padding-top: 5%;
  flex:1;
  flex-basis: 15%;
  overflow: scroll;
}

nav > ul.catalog {
  list-style-type: none;
}
li{
  text-decoration: underline;
  color:white;
  font-size: 1.1em;
}
li:hover {
  text-decoration: underline;
  background-color: white;
  color: black;
  cursor: pointer;
}
#title{
  font-style: italic;
}
#textholder{
  margin-left:0.4em;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(253,253,255,0) 100%);
}
p2{
  display:inline-block;
  margin:1em;
  color:black;
  font-size: 0.8em;
}
#italicpoem{
  font-style: italic;
}


.content{
  padding-top: 5%;
  flex-basis: 45%;
}
.content > img{
  position: absolute;
  -moz-box-shadow: 0 0 7px #fff;
  -webkit-box-shadow: 0 0 7px #fff;
  box-shadow: 0px 0px 7px #fff;
  transition: transform .2s;
}
.content > img:hover{
  transform: scale(1.2);
  cursor: pointer;
}


.tunnelwhite{
  flex:1;
  flex-basis: 40%;
  /* display: flex;
  justify-content: space-between;
  align-items: flex-start; */
  overflow: scroll;
  height:870px;
}

.frame >iframe{
  width:560px;
  height:315px;
}

p3{
  color:white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}



@media only screen and (max-width: 700px) {
  body{
      background-image: url("image/bgcopy.jpg");
      background-size: cover;
      background-repeat: no-repeat;
  }
  .bottombar {
    font-size:0.2em;
    width:100%;
    position: fixed;
    bottom: 0;
    background-color: white;
    text-align: center;
    z-index: 9999;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
  }
  .bottombar>img{
    margin-top:1em;
    width:100%;
  }
  .container{
      display:block;
  }
  ul{
    float:left;
    font-size:1em;
    padding-left: 2%;
    padding-right: 5%;
    padding-top: 95%;
    width: 90%;
    height:100%;
  }
  nav:after{
    content:"";
    display:table;
    clear:both;
  }
  .content{
    display:block;
    width: 100%;
  }
  .tunnelwhite{
    display: none;
  }
  #title{
    font-style: italic;
  }
  #textholder{
     margin-left:-4em;
  }
  p2{
    display:inline-block;
    margin-left:5em;
    color:black;
    font-size: 1em;
  }
  #italicpoem{
    font-style: italic;
  }
  .icons{
    display: flex;
    justify-content: space-around;
  }
  .icons > div{
    text-align: center;
    flex:1;
    font-size: 2em;
    margin-bottom: 0px;
  }
  .icons > div:hover{
    cursor:pointer;
    /* transform: scale(1.2); */
    text-shadow: 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #cff2ff, 0 0 4px #cff2ff, 0 0 4px #cff2ff, 0 0 4px #cff2ff, 0 0 4px #cff2ff;
    }
  .frame >iframe{
      width: 100%;
    }
  .infoholder{
      margin-left: 1em;
      margin-right: 1em;
    }
    p3{
      color:white;
      text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    }

}
